*{
    padding: 0;
    margin: 0;
}

:root{
    --primary:rgb(0, 40, 0);
    --secondary:rgb(1, 207, 1);
}


header{
    width: 100%;
}
nav{
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-evenly;
}
nav ul {
    display: flex;
}
.cta-action{
    display: flex;
}